In [1]:
import pandas as pd
import yaml
import json
import sys
import numpy as np
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
import plotly.express as px
from sklearn.linear_model import LinearRegression,SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans


df = pd.read_csv("C:/Users/User/Documents/GitHub/WSRStuff/files to parse/likeWSRstuff/Taxi_Set.csv")

In [2]:

#columns = ["trip_duration_hr", "distance_traveled_Km", "fare_w_flag","tip", "miscellaneous_fees", "surge_applied", "total_fare_new"]

#Те, что имеют большее влияние на конечный результат:
"""
Оставляем:
hours
distance
Wait time
кол-во пасажиров(но тут идет зависимость - чем меньше их, тем больше платят)
surge(т.к. у него прямая зависимость с miscellaneous_fees)
miscellaneous_fees

Убираем:
tip (нужно будет так-же эту колонну к фигам убирать из данных, т.к. она лишь создаёт проблемы при вычислениях)
sec(нафига)
min(зачем)
kph(Слишком малое влияние на общие данные.)

fare_w_flag(Эта штука имеет слишком большое кол-во корреляций и по сути
это законченная стоимость с неизвестным мне множителем, из-за чего модель попросту
будет смотреть на неё и слишком на неё полагаться.)

"""

'\nОставляем:\nhours\ndistance\nWait time\nкол-во пасажиров(но тут идет зависимость - чем меньше их, тем больше платят)\nsurge(т.к. у него прямая зависимость с miscellaneous_fees)\nmiscellaneous_fees\n\nУбираем:\ntip (нужно будет так-же эту колонну к фигам убирать из данных, т.к. она лишь создаёт проблемы при вычислениях)\nsec(нафига)\nmin(зачем)\nkph(Слишком малое влияние на общие данные.)\n\nfare_w_flag(Эта штука имеет слишком большое кол-во корреляций и по сути\nэто законченная стоимость с неизвестным мне множителем, из-за чего модель попросту\nбудет смотреть на неё и слишком на неё полагаться.)\n\n'

In [4]:
#cleaning the data
surge_code = {False:0, True:1}
df["surge_applied"] = df.surge_applied.map(surge_code)
df.drop(columns = ["trip_duration_sec","trip_duration_min","KPH","fare_w_flag"], axis=1,inplace=True)
df["total_fare_new"] = df["total_fare_new"] - df["tip"]
df.drop(columns = "tip", axis = 1, inplace=True)

df.head()

,trip_duration_hr,distance_traveled_Km,wait_time_cost,distance_cost,miscellaneous_fees,total_fare_new,num_of_passengers,surge_applied
0,0.207833,2.75,4.97,4.27,6.30,18.24,1,NaN
1,0.329667,3.43,7.89,5.33,13.20,29.12,1,NaN
2,0.202833,3.12,4.85,4.85,26.63,39.03,1,NaN
3,0.186333,5.63,4.46,8.75,9.75,25.66,3,NaN
4,0.091300,2.09,2.19,3.25,13.20,21.34,1,NaN

In [ ]:

train_cleaned_df, test_df = train_test_split(df, test_size=0.2, random_state=20)

train_cleaned_df, val_df = train_test_split(df, test_size=0.25, random_state=20)

In [ ]:
scaler = StandardScaler()

train_df_columns = train_df_columns.columns()
train_cleaned_df[train_df_columns] = scaler.fit_transform(train_cleaned_df[train_df_columns])

In [ ]:
def optimise_k_means(data, max_k):
    means=[]
    inertias = []
    for k in range(1,max_k):
        kmeans = KMeans(n_clusters=k)
        kmeans.fit(data)
        
        means.append(k)
        inertias.append(kmeans.inertia_)
    
    fig = plt.subplots(figsize=(10,5))
    plt.plot(means,inertias,'o-')
    plt.xlabel("Number of Clusters")
    plt.ylabel("Inertia")
    plt.grid(True)
    plt.show()

In [ ]:
optimise_k_means(train_cleaned_df[train_df_columns],6)

In [ ]:
kmeans = KMeans(n_clusters = 5)
kmeans.fit(train_cleaned_df[train_df_columns])

In [ ]:
train_cleaned_df["kmeans_5"] = kmeans.labels_

In [ ]:


train_cleaned_df.head()

In [ ]:
px.scatter(train_cleaned_df, "trip_duration_hr", "total_fare_new", color = "kmeans_5")
#columns = ["trip_duration_hr", "distance_traveled_Km", "fare_w_flag","tip", "miscellaneous_fees", "surge_applied", "total_fare_new"]

In [ ]:
px.scatter(train_cleaned_df, "distance_traveled_Km", "total_fare_new", color = "kmeans_5")

In [ ]:

px.scatter(train_cleaned_df, "miscellaneous_fees", "total_fare_new", color = "kmeans_5")

In [ ]:


px.scatter(train_cleaned_df, "surge_applied", "total_fare_new", color = "kmeans_5")

In [ ]:
px.scatter(train_cleaned_df, "wait_time_cost", "total_fare_new", color = "kmeans_5")

In [ ]:
def estimate_charges(age,w,b):
    return w * age + b

def rmse(targets, predictions):
    return np.sqrt(np.mean(np.square(targets - predictions)))

def try_parameters(w, b):
    ages = non_smoker_df.age
    estimated_charges = estimate_charges(ages, w, b)
    target_charges = non_smoker_df.charges
    sns.lineplot(x = ages, y = estimated_charges, color = "r")
    sns.scatterplot(x = non_smoker_df.age, y = target_charges, color = "b",alpha = 0.6)
    loss = rmse(target_charges, estimated_charges)
    print("RMSE loss: ", loss)

In [ ]:

    
columns_for_model = train_df_columns.drop(["total_fare_new"])
inputs, targets = train_cleaned_df[columns_for_model], train_cleaned_df["total_fare_new"]


model1 = SGDRegressor()
model2 = LinearRegression()
model1.fit(inputs, targets)
model2.fit(inputs, targets)

predictions1 = model1.predict(inputs)

predictions2 = model2.predict(inputs)

print(predictions1, rmse(targets, predictions1))

print(predictions2, rmse(targets, predictions2))

In [ ]:

predictions_val = model1.predict(val_df)

print(predictions_val, rmse(train_val_df["total_fare_new"], predictions_val))